src/main/app/mule-weather-details-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:secure-property-placeholder="http://www.mulesoft.org/schema/mule/secure-property-placeholder" xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.mulesoft.org/schema/mule/secure-property-placeholder http://www.mulesoft.org/schema/mule/secure-property-placeholder/current/mule-secure-property-placeholder.xsd">
    <http:listener-config name="httpListenerConfig" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration" />
    <apikit:config name="apiConfig" raml="mule-weather-details-api.raml" consoleEnabled="false" doc:name="Router" keepRamlBaseUri="false" />
    


    <secure-property-placeholder:config name="Secure_Property_Placeholder" key="${key}" location="weather-app.properties" doc:name="Secure Property Placeholder"/>
    <api-platform-gw:api apiName="${api.name}" version="${api.version}" flowRef="mule-weather-details-api-main" create="true" doc:name="API Autodiscovery"/>
    <flow name="mule-weather-details-api-main">
        <http:listener config-ref="httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="apiConfig" doc:name="APIkit Router" />
        <exception-strategy ref="apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="api-console">
        <http:listener config-ref="httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="apiConfig" doc:name="APIkit Console" />
    </flow>
    <flow name="post:/weather/details:apiConfig">
        <dw:transform-message doc:name="mapReq">
            <dw:input-payload doc:sample="sample_data\json.json" />
            <dw:set-variable variableName="path"><![CDATA[%dw 1.0
%output application/java
%var data={(payload.Header map ((header,indexOfheader) -> { 
 '$header': payload.Items[indexOfheader] 
 
 } )) } 
---
"?q=" ++ data.country ++ "&APPID=${apikey}&units=${unit}"]]></dw:set-variable>
            <dw:set-variable variableName="originalPayload"><![CDATA[%dw 1.0
%output application/json



---
{(payload.Header map ((header,indexOfheader) -> { 
 '$header': payload.Items[indexOfheader]
 
 } )) }]]></dw:set-variable>
        </dw:transform-message>
        <flow-ref name="call-weather-api-subflow" doc:name="call-weather-api-subflow" />
        <dw:transform-message doc:name="mapResponse">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json

%var calculateOffset =(((payload.timezone as :number *100)/3600) as :string  {format:"0000"})
%var offset = calculateOffset[0..2] ++ ":" ++ calculateOffset[3..4] when calculateOffset startsWith "-" otherwise "+" ++ (calculateOffset[0..1] ++ ":" ++ calculateOffset[2..3])




---
{
"lastname" : flowVars.originalPayload.lastName,
"name" : flowVars.originalPayload.name,
"timmeZone" : payload.timezone,
"offfSet" : offset,
"fullName" : flowVars.originalPayload.name ++ " " ++ flowVars.originalPayload.lastName ,
"temperatureCelcius" :payload.main.temp,
"dateTime" : ((now as :datetime {format: "YYYY-MM-DDThh:mm:ss"}  >> (offset as :timezone )) ) + |P1D|,
"city" : flowVars.originalPayload.country,
"location":flowVars.originalPayload.city
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>

    <apikit:mapping-exception-strategy name="apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
